{% extends "layout.html" %}
{% block content %}
<style>
    /* Change the font color of select options to black */
    select {
        color: black !important;
    }

    /* Change the background color of select options to white */
    select option {
        color: black !important;
    }
</style>
<body>
<div class="content">
    <div id="home" class="flex-center flex-column animated-box in">
        <div class="row">
            <div class="col-md-12">
                <form action="/index" method="post" onsubmit="return validateForm();">

                    <input type="hidden" name="action" value="/">
                    <fieldset>

                        <legend><span class="number">1</span> your account</legend></fieldset>

                    <label for="email" class="email">Email:</label>
                    <input id="email" name="email" required type="email" minlength="5" maxlength="100"><br>

                    <div id="error-message" class="error-message" style="color: red;">
                        {{ error_message }}
                    </div>
                    <label for="password" class="password">Password:</label>
                    <input id="password" maxlength="50" minlength="8" name="password" type="password" placeholder="Minimum 8 characters" required>
                    <br>
                    <label for="confirm_password" class="confirm_password">Confirm Password:</label>
                    <input id="confirm_password" maxlength="50" minlength="8" name="confirm_password" type="password" required>
                    <span id="confirmPasswordValidation" class="validation-message" style="color: red;"></span>
                    <br>

                    <fieldset>
                        <br>
                        <legend><span class="number">2</span> Your Profile</legend>

                        <label for="age" class="age">Age:</label>
                        <input id="age" name="age" required type="number" min="15" max="50">
                        <p id="ageValidationMessage" class="validation-message" style="color: red;"></p><br>

                        <label for="school" class="school">School:</label>
                        <select id="school" name="school" required>
                            <option value="">Select your school</option>
                            {% for school in schools %}
                            <option value="{{ school }}">{{ school }}</option>
                            {% endfor %}
                            <option value="Others">Others</option>
                        </select>
                        <br><br>
                        <input id="otherSchool" name="otherSchool" class="otherSchool" type="text" placeholder="Enter your school" style="display: none;">

                        <br><br>

                        <label for="distance" class="distance">How far do you live from NYP? (estimated time with public transport)</label>
                        <select id="distance" name="distance" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Less than 15 minutes">Less than 15 minutes</option>
                            <option value="15 to 30 minutes">15 to 30 minutes</option>
                            <option value="30 to 45 minutes">30 to 45 minutes</option>
                            <option value="45 to 60 minutes">45 to 60 minutes</option>
                            <option value="More than 60 minutes">More than 60 minutes</option>
                        </select>
                        <br>
                        <br>
                        <input type="checkbox" id="privacy" class="privacy" value="privacy" name="privacy" required><label class="light" for="privacy">I agree to the Privacy Policy and consent to the collection and processing of my personal information for this event.</label><br>

                    </fieldset>
                    <br>

                    <button type="submit" value="submit" class="btn" style="v--clr:#1e9bff"><span>REGISTER</span><i></i></button>

                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var schoolSelect;

    document.addEventListener("DOMContentLoaded", function () {
        var schoolSelect = document.getElementById("school");
        var otherSchoolInput = document.getElementById("otherSchool");

        // Function to handle the change event of the school select
        function handleSchoolSelectChange() {
            if (schoolSelect.value === "Others") {
                otherSchoolInput.style.display = "block"; // Show the input field
            } else {
                otherSchoolInput.style.display = "none"; // Hide the input field
            }
        }

        // Add an event listener to the school select
        schoolSelect.addEventListener("change", handleSchoolSelectChange);

        // Initialize the input field's display based on the initial selection
        handleSchoolSelectChange();
    });

    var schools = [
    "Admiralty Secondary School",
    "Ahmad Ibrahim Secondary School",
    "Anderson Secondary School",
    "Anglican High School",
    "Anglo-Chinese School (Barker Road)",
    "Anglo-Chinese School (Independent)",
    "Ang Mo Kio Secondary School",
    "Assumption English School",
    "Bartley Secondary School",
    "Beatty Secondary School",
    "Bedok Green Secondary School",
    "Bedok South Secondary School",
    "Bedok View Secondary School",
    "Bendemeer Secondary School",
    "Boon Lay Secondary School",
    "Bowen Secondary School",
    "Broadrick Secondary School",
    "Bukit Batok Secondary School",
    "Bukit Merah Secondary School",
    "Bukit Panjang Government High School",
    "Bukit View Secondary School",
    "Catholic High School",
    "Canberra Secondary School",
    "Cedar Girls' Secondary School",
    "Changkat Changi Secondary School",
    "CHIJ Katong Convent (Secondary)",
    "CHIJ Secondary (Toa Payoh)",
    "CHIJ St. Joseph's Convent",
    "CHIJ St. Nicholas Girls' School",
    "CHIJ St. Theresa's Convent",
    "Chua Chu Kang Secondary School",
    "Christ Church Secondary School",
    "Chung Cheng High School (Main)",
    "Chung Cheng High School (Yishun)",
    "Clementi Town Secondary School",
    "Commonwealth Secondary School",
    "Compassvale Secondary School",
    "Crescent Girls' School",
    "Damai Secondary School",
    "Deyi Secondary School",
    "Dunearn Secondary School",
    "Dunman High School",
    "Dunman Secondary School",
    "East Spring Secondary School",
    "Edgefield Secondary School",
    "Evergreen Secondary School",
    "Fairfield Methodist Secondary School",
    "Fuchun Secondary School",
    "Fuhua Secondary School",
    "Gan Eng Seng School",
    "Geylang Methodist School (Secondary)",
    "Greendale Secondary School",
    "Greenridge Secondary School",
    "Guangyang Secondary School",
    "Hai Sing Catholic School",
    "Hillgrove Secondary School",
    "Holy Innocents' High School",
    "Hougang Secondary School",
    "Hua Yi Secondary School",
    "Hwa Chong Institution",
    "Junyuan Secondary School",
    "Jurong Secondary School",
    "Jurong West Secondary School",
    "Jurongville Secondary School",
    "Juying Secondary School",
    "Kent Ridge Secondary School",
    "Kranji Secondary School",
    "Kuo Chuan Presbyterian Secondary School",
    "Loyang View Secondary School",
    "Manjusri Secondary School",
    "Maris Stella High School",
    "Marsiling Secondary School",
    "Mayflower Secondary School",
    "Meridian Secondary School",
    "Methodist Girls' School (Secondary)",
    "Montfort Secondary School",
    "Nan Chiau High School",
    "Nan Hua High School",
    "Nanyang Girls' High School",
    "National Junior College",
    "Naval Base Secondary School",
    "New Town Secondary School",
    "Ngee Ann Secondary School",
    "North Vista Secondary School",
    "Northbrooks Secondary School",
    "Northland Secondary School",
    "NUS High School of Mathematics and Science",
    "Orchid Park Secondary School",
    "Outram Secondary School",
    "Pasir Ris Crest Secondary School",
    "Pasir Ris Secondary School",
    "Paya Lebar Methodist Girls' School (Secondary)",
    "Pei Hwa Secondary School",
    "Peicai Secondary School",
    "Peirce Secondary School",
    "Presbyterian High School",
    "Punggol Secondary School",
    "Queenstown Secondary School",
    "Queensway Secondary School",
    "Raffles Girls' School (Secondary)",
    "Raffles Institution",
    "Regent Secondary School",
    "Riverside Secondary School",
    "River Valley High School",
    "St. Andrew's Secondary School",
    "St. Patrick's School",
    "School of Science and Technology, Singapore",
    "School of the Arts",
    "Sembawang Secondary School",
    "Sengkang Secondary School",
    "Serangoon Garden Secondary School",
    "Serangoon Secondary School",
    "Singapore Chinese Girls' School",
    "Singapore Sports School",
    "Springfield Secondary School",
    "St. Anthony's Canossian Secondary School",
    "St. Gabriel's Secondary School",
    "St. Hilda's Secondary School",
    "St. Margaret's Secondary School",
    "St. Joseph's Institution",
    "Swiss Cottage Secondary School",
    "Tanglin Secondary School",
    "Tampines Secondary School",
    "Tanjong Katong Girls' School",
    "Tanjong Katong Secondary School",
    "Temasek Junior College",
    "Temasek Secondary School",
    "Unity Secondary School",
    "Victoria School",
    "West Spring Secondary School",
    "Westwood Secondary School",
    "Whitley Secondary School",
    "Woodgrove Secondary School",
    "Woodlands Ring Secondary School",
    "Woodlands Secondary School",
    "Xinmin Secondary School",
    "Yio Chu Kang Secondary School",
    "Yishun Secondary School",
    "Yishun Town Secondary School",
    "Yuan Ching Secondary School",
    "Yuhua Secondary School",
    "Yusof Ishak Secondary School",
    "Yuying Secondary School",
    "Zhenghua Secondary School",
    "Zhonghua Secondary School"

];

$(function () {
        $("#school").autocomplete({
            source: schools,
        });
    });

schools.forEach(function (schoolName) {
        var option = document.createElement("option");
        option.value = schoolName;
        option.text = schoolName;
        schoolSelect.appendChild(option);
    });

    schoolSelect.addEventListener("change", function () {
     console.log("Change event triggered"); // Add this line
    if (schoolSelect.value === "Others") {
        otherSchoolInput.style.display = "block";
    } else {
        otherSchoolInput.style.display = "none";
    }
});

    function validateForm() {
        const dobInput = document.getElementById("age");
        const validationMessage = document.getElementById("ageValidationMessage");
        const dob = new Date(dobInput.value);
        const today = new Date();
        const age = today.getFullYear() - dob.getFullYear();
        const monthDiff = today.getMonth() - dob.getMonth();

        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
            age--;
        }

        if (age < 15) {
            validationMessage.textContent = "You must be at least 16 years old to submit this form.";
            validationMessage.style.display = "block"; // Show the message
            validationMessage.style.color = "red";
            return false;
        } else {
            validationMessage.textContent = "";
            validationMessage.style.display = "none"; // Hide the message
            return true;
        }
    }

    document.getElementById("age").addEventListener("focus", function () {
        if (this.value === "yyyy-mm-dd") {
            this.value = "";
        }
    });

     function validateEmail() {
        var email = document.getElementById("email").value;
        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zAZ.-]+\.[a-zA-Z]{2,4}$/;

        var validationMessage = document.getElementById("validation-message");

        if (emailPattern.test(email)) {
            validationMessage.textContent = "Valid email!";
        } else {
            validationMessage.textContent = "Invalid email. Please enter a valid email address.";
        }
    }
    // Add an event listener to confirm_password input
    document.getElementById("confirm_password").addEventListener("blur", validateConfirmPassword);

    function validateConfirmPassword() {
    console.log("validateConfirmPassword function called"); // Add this line
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirm_password").value;
    const confirmPasswordValidation = document.getElementById("confirmPasswordValidation");

    if (password !== confirmPassword) {
        confirmPasswordValidation.textContent = "Password and Confirm Password do not match.";
        confirmPasswordValidation.style.display = "block";
        confirmPasswordValidation.style.color = "red";
        return false; // Prevent form submission
    } else {
        confirmPasswordValidation.textContent = "";
        confirmPasswordValidation.style.display = "none";
        return true; // Allow form submission
    }
}

</script>

{% endblock %}
